{% extends "users/base.html"%}

{% block head_content %}
<title>Iniciar sesión</title>
{% endblock head_content %}



{% block container %}
{%if error%}
<p class="alert alert-danger">
  {{error}}
</p>
{%endif%}
<form action="{% url "login" %}" method="POST">
  {%csrf_token%}
  <div class="form-group">
    <input type="email" class="form-control"  required name="email" placeholder="Correo electrónico">
  </div>
  <div class="form-group">
    <input type="password" name="password" required class="form-control" placeholder="Contraseña">
  </div>
  <button type="submit" class="btn btn-primary btn-block mt-5 ">Inicial Sesión</button>
</form>
 <hr class='my-5'/>
  <a href="{% url 'signup' %}" class="btn btn-success btn-block mt-0 w-70">Registrarse</a>
{% endblock container %}